<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

<H1>Data Science Tools and Ecosystem<H1>
    <p>In this notebook, Data Science Tools and Ecosystem are summarized</p>

Some of the popular languages data scientists use are :
1. Python
1. Java
1. SQL

Some of the commonly used libraries used by Data scientists : 
1. Numpy
1. pandas
1. Scipy
1. PyTorch

Table of Data Science Tools
|Data Science Tools|
|:----------------:|
|Jupyter Notebooks|
|R Studio|
|Pandas|

<h3>Below are few examples of evaluating arithmetic expression in python<h3>

In [13]:
#This a simple airthemetic expression to multiply then add integers
(3*4)+5

17

In [14]:
#This will convert 200 minutes to hours by dividing by 60
h=200//60
m=200%60
print("200 minutes to hours : ",h,"hours",m," minutes")

200 minutes to hours :  3 hours 20  minutes

**Objectives:**
1. List of popular lanaguages in Data Science
    - Python
    - R Lanaguage
    - SQL
    - Java
1. List of Data Science Tools
    - Tabula
    - Apache spark
    - Jupyter notebooks

**Author**<H2>Bhavana<H2>